[run]

branch = True

concurrency =
    thread
    multiprocessing

source =
    ai_flow
    lib/notification_service

omit =
    ai_flow/test/*
    ai_flow/protobuf/*
    lib/notification_service/tests/*
    lib/notification_service/notification_service/proto/*

parallel = True