.classpath
.project
.settings
.factorypath
target
*.log
dependency-reduced-pom.xml
.DS_Store
.ipynb_checkpoints
node_modules

*.py[cod]
__pycache__
.pytest_cache
*.swp
.vscode/
cmake_build/
.idea/**
/deep-learning-on-flink/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
tfOnFlink/python/var
deep-learning-on-flink/**/bin
#**/*.so
**/*.dylib
**/*.egg-info
**/temp

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

ai_flow.egg-info/*
ai_flow/test/endpoint/aiflow.db
ai_flow/test/api/workflow_config.json
ai_flow/test/common/test.yaml
examples/**/generated/*
venv/*
dist/*
lib/notification_service/dist/*

**/logs/
**/saved_model/
**/pushed_model/

# docs generated
docs/_build
docs/reference/api/python/source_rst
