.classpath
.project
.settings
.factorypath
target
*.log
dependency-reduced-pom.xml
.DS_Store
.ipynb_checkpoints
node_modules

*.py[cod]
__pycache__
.pytest_cache
*.swp
.vscode/
cmake_build/
.idea/**
/deep-learning-on-flink/build/
[Bb]uild/
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
xcuserdata/**
tfOnFlink/python/var
deep-learning-on-flink/**/bin
#**/*.so
**/*.dylib
**/*.egg-info
**/temp

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

core/python/cmake-build-debug

# generated python pb


alibaba/porsche-docker/build-venv/python/

# flink-ai-flow

ai_flow.egg-info/*
ai_flow/test/endpoint/aiflow.db
ai_flow/test/api/workflow_config.json
ai_flow/test/common/test.yaml
examples/**/generated/*
venv/*
dist/*


# Airflow configuration
lib/airflow/airflow.cfg
lib/airflow/unittests.cfg
lib/airflow/airflow_login.py
lib/airflow/dbinit.py
lib/airflow/initdb.py
lib/airflow/secrets.py

# Airflow sqlite databases
lib/airflow/airflow.db
lib/airflow/unittests.db


# Airflow temporary artifacts
lib/airflow/airflow/git_version
lib/airflow/airflow/www/static/coverage/
lib/airflow/airflow/www/static/dist
lib/airflow/airflow/www_rbac/static/coverage/
lib/airflow/airflow/www_rbac/static/dist/

**/logs/
**/saved_model/
**/pushed_model/
lib/airflow/airflow-webserver.pid

# Byte-compiled / optimized / DLL files
lib/airflow/**/*$py.class

# C extensions
lib/airflow/*.so

# Distribution / packaging
lib/airflow/.Python
lib/airflow/env/
lib/airflow/build/
lib/airflow/develop-eggs/
lib/airflow/dist/
lib/airflow/downloads/
lib/airflow/eggs/
lib/airflow/.eggs/
lib/airflow/lib/
lib/airflow/lib64/
lib/airflow/parts/
lib/airflow/sdist/
lib/airflow/var/
lib/airflow/wheels/
lib/airflow/*.egg-info/
lib/airflow/.installed.cfg
lib/airflow/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
lib/airflow/*.manifest
lib/airflow/*.spec

# Installer logs
lib/airflow/pip-log.txt
lib/airflow/pip-delete-this-directory.txt

# Unit test / coverage reports
lib/airflow/htmlcov/
lib/airflow/.coverage
lib/airflow/.coverage.*
lib/airflow/.cache
lib/airflow/nosetests.xml
lib/airflow/coverage.xml
lib/airflow/*.cover
lib/airflow/.hypothesis/
lib/airflow/.pytest_cache

# Translations
lib/airflow/*.mo
lib/airflow/*.pot

# Django stuff:
# *.log
lib/airflow/local_settings.py

# Flask stuff:
lib/airflow/instance/
lib/airflow/.webassets-cache
lib/airflow/webserver_config.py

# Scrapy stuff:
lib/airflow/.scrapy

# Sphinx documentation
lib/airflow/docs/_build/
lib/airflow/docs/_api/

# PyBuilder
lib/airflow/target/

# Jupyter Notebook
lib/airflow/.ipynb_checkpoints

# pyenv
lib/airflow/.python-version

# celery beat schedule file
lib/airflow/celerybeat-schedule

# SageMath parsed files
lib/airflow/*.sage.py

# dotenv
lib/airflow/.env
lib/airflow/.autoenv*.zsh

# virtualenv
lib/airflow/.venv*
lib/airflow/venv*
lib/airflow/ENV/

# Spyder project settings
lib/airflow/.spyderproject

# Rope project settings
lib/airflow/.ropeproject

# PyCharm
lib/airflow/.idea/
lib/airflow/*.iml

# Visual Studio Code
lib/airflow/.vscode/

# vim
lib/airflow/*.swp

# Emacs
lib/airflow/*~
lib/airflow/\#*\#
lib/airflow/.emacs.desktop
lib/airflow/.emacs.desktop.lock
lib/airflow/*.elc
lib/airflow/auto-save-list
lib/airflow/tramp
lib/airflow/.\#*

# SQL Server backups
lib/airflow/*.bkp

# Spark
lib/airflow/rat-results.txt

# Git stuff
lib/airflow/.gitattributes
# Kubernetes generated templated files
lib/airflow/*.generated
lib/airflow/*.tar.gz
lib/airflow/scripts/ci/in_container/kubernetes/kube/.generated/airflow.yaml
lib/airflow/scripts/ci/in_container/kubernetes/docker/requirements.txt

# Node & Webpack Stuff
lib/airflow/*.entry.js
lib/airflow/node_modules
lib/airflow/npm-debug.log*
lib/airflow/derby.log
lib/airflow/metastore_db

# Airflow log files when airflow is run locally
lib/airflow/airflow-*.err
lib/airflow/airflow-*.out
lib/airflow/airflow-*.log
lib/airflow/airflow-*.pid
lib/airflow/.airflow_db_initialised

# mypy
lib/airflow/.mypy_cache/
lib/airflow/.dmypy.json
lib/airflow/dmypy.json

# Needed for CI Dockerfile.ci build system
lib/airflow/.build
lib/airflow/tmp
lib/airflow/files

lib/airflow/hive_scratch_dir/
lib/airflow/.bash_aliases
lib/airflow/.bash_history
lib/airflow/.kubeSchedulerServiceConfig
lib/airflow/.inputrc
lib/airflow/log.txt*

# docs generated
docs/_build
*.rst
